body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  /* margin-bottom: 20px; */
}

.navbar {
  background: linear-gradient(135deg, #cfadbb, #95646e);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-title {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

button.add-btn {
  background-color: #32cde1;
  color: #2b2828;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button.add-btn:hover {
  background-color: #ffdb5c;
}
